@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: rgb(5, 12, 1);
  --foreground: #ffffff;
  --accent: #ceff00;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background: #ceff00;
  color: #10130f;
}